body {
	white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

div.tweet {
	position: absolute;
	display: inline-block;
	white-space: nowrap;
}

#chimney { 
    display: block; 
    position: fixed; 
    bottom: 0px; 
}

#smokeCanvas {
    display: block; 
    position: fixed; 
}